@model UserProfile

@using (Html.BeginForm("SaveProfile", "Manage"))
{
    @Html.Hidden("Id", Model.Id)
    @Html.Hidden("UserName", Model.UserName)

    <label>
        Organization:
        @Html.DropDownList("OrganizationId", ViewBag.OrgSelect as SelectList, "(select)", new { required = "required" })
    </label>

    <input type="submit" value="Save"/>
}
