@model UserProfile

@using (Html.BeginForm("SaveProfile", "Manage"))
{
    @Html.Hidden("Id", Model.Id)
    @Html.Hidden("UserName", Model.UserName)

    <label class="control-label">
        Organization:
        @Html.DropDownList("OrganizationId", ViewBag.OrgSelect as SelectList, "(select)", new { required = "required", @class = "form-control" })
    </label>
    
    <input type="submit" value="Save" class="btn btn-primary"/>
}

@if (Model.SystemRoles?.Any() ?? false)
{
    <ul class="list-inline">
        <li style="font-weight:bold">System Roles:</li>
        @foreach (var role in Model.SystemRoles)
        {
            <li>@role</li>
        }
    </ul>
}