
@{
    ViewBag.Title = "Schema Merge";
}

<h2>Schema Merge</h2>

<p>When you run this app for the first time and register a user account, an empty database is created automatically.</p>

<p>After that, there are two ways you can apply (merge) model class changes to your physical database:</p>

<ul>
    <li>
        <p>
            Add a post-build event to your model class project that runs the Postulate Schema Merge app. This process is described
            in this <a href="https://www.codeproject.com/Articles/1191399/Intro-to-Postulate-ORM" target="_blank">CodeProject article</a>. You
            can get the latest Schema Merge app from the Postulate release page on <a href="https://github.com/adamosoftware/Postulate.Orm/releases" target="_blank">GitHub</a>.
            This is the most general-purpose approach that works in any project type.
        </p>
    </li>

    <li>
        <p>
            Navigate to <a href="@Url.Action("Preview")">Schema/Preview</a> in your browser every time you have model changes you want to merge.
            This page shows you pending model changes that you can execute from there. This option is kind of cool because it shows that you
            can do use a web page to preview and execute schema changes without having an additional app.
        </p>
        <p>
            In a real app, you would probably need to add a form to this view that prompts the user for credentials that have permission to make
            schema changes. The credentials in your production config file normally shouldn't have permission do make schema changes.
        </p>
    </li>
</ul>

