@model System.Text.StringBuilder

@{
    ViewBag.Title = "Schema Merge";
}

<h2>Schema Merge</h2>

<p class="text-danger">@TempData["error"]</p>
<p class="success">@TempData["success"]</p>

@if (Model == null)
{
    <p>There are no pending changes to apply.</p>
    return;
}

<pre>
@Model.ToString()
</pre>

@using (Html.BeginForm())
{
    <input type="submit" value="Execute" />
}
