<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AoReflectionHelper" version="1.0.1" targetFramework="net461" />
  <package id="Dapper" version="1.50.2" targetFramework="net461" />
  <package id="Postulate.Orm.Core" version="1.0.14" targetFramework="net461" />
  <package id="Postulate.Orm.SqlServer" version="1.0.14-beta" targetFramework="net461" />
</packages>