@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Postulate.Mvc Sample App</h1>
    <p class="lead">This project shows how to use features of Postulate.Mvc for rapid back-end and ORM development.</p>
    <p><a href="https://github.com/adamosoftware/Postulate.Mvc" class="btn btn-primary btn-lg">Learn more (GitHub) &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Lists and Forms</h2>
        <p>
            Demonstrates a typical list view with edit and create forms with a fictional customer list.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Customer")">Customers &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        
    </div>
</div>