@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Postulate.Mvc Sample App</h1>
    <p class="lead">This project shows how to use features of Postulate.Mvc for rapid app development.</p>
    <p><a href="https://github.com/adamosoftware/Postulate.Mvc" class="btn btn-primary btn-lg">Learn more (GitHub) &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Schema Merge</h2>
        <p>Learn about using Postulate to merge model changes to your physical database.</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Schema")">Schema Merge &raquo;</a></p>
    </div>

    <div class="col-md-6">
        <h2>CRUD Forms</h2>
        <p>Create, read, and update records with forms</p>        
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Lists and Filtering</h2>
        <p>Present lists with filtering and paging controls.</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Customer")">Customers &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Using GridEditor</h2>
        <p>Use the <a href="https://github.com/adamosoftware/Postulate.Mvc/blob/master/Postulate.Mvc/Helpers/GridEditor.cs" target="_blank">GridEditor</a> 
        class to implement inline-editable tables</p>
    </div>
</div>